<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/boostrap.min.css">
    <title>Lista de Clientes</title>
</head>
<body>

    <h2>Lista de Clientes</h2>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${listaC}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.dni}"></td>
                <td th:text="${cliente.nombreUsuario}"></td>
                <td th:text="${cliente.mail}"></td>
                <td th:text="${cliente.estado ? 'Habilitado' : 'Inhabilitado'}"></td>
                <td>
                    <form th:action="@{'/buscarClientePorDni/' + ${cliente.dni}}" method="get">
                        <button type="submit">Buscar por DNI</button>
                    </form>
                    <form th:action="@{'/eliminarCliente/' + ${cliente.id}}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                    <form th:action="@{'/modificarCliente/' + ${cliente.id}}" method="get">
                        <button type="submit">Modificar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/altaCliente">Agregar Nuevo Cliente</a>
	
	<script src="${pageContext.request.contextPath}/resources/js/jquery.slim.min.js"></script>
	<script src="${pageContext.request.contextPath}/resources/js/popper.min.js"></script>
	<script src="${pageContext.request.contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>